# Exponential Smoothing
____

#### Libraries
____

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns


%matplotlib inline

#### Load dataset
___

In [2]:
dataset = '../../../Greenhouse/data/US_emissions_by_gas_1990_2017_data.xlsx'

emissions = pd.read_excel(dataset)
emissions.head(5)

,Gas,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Carbon dioxide,5121.179440,5071.563914,5174.670601,5281.386608,5375.033803,5436.697986,5625.041885,5701.920919,5749.893056,...,5928.256329,5493.547908,5700.108337,5572.584775,5371.777170,5522.908365,5572.106312,5422.965677,5306.662457,5270.748525
1,Methane,779.845550,784.384856,783.176602,770.308404,775.160651,767.845344,759.491158,744.932926,729.618317,...,702.303384,692.676127,697.450404,675.544902,665.372404,663.042641,662.064221,661.395920,654.897884,656.316679
2,Nitrous oxide,370.307694,368.961757,371.786442,385.347234,376.511527,388.502830,395.545749,386.608376,402.495771,...,374.546556,373.259958,382.929378,375.073815,348.876128,365.354277,362.742736,374.108885,364.485759,360.515661
3,Fluorinated gases,99.667859,90.704668,95.300712,95.027350,98.129806,117.021137,127.620262,134.999750,150.518866,...,155.494544,149.885151,158.103563,164.215536,159.943630,158.912892,163.082364,165.304997,166.221325,169.137327
4,Total,6371.000543,6315.615194,6424.934357,6532.069596,6624.835787,6710.067297,6907.699054,6968.461971,7032.526010,...,7160.600813,6709.369145,6938.591681,6787.419028,6545.969331,6710.218175,6759.995633,6623.775479,6492.267425,6456.718193