# Update Annie's data
_________

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from sqlalchemy import create_engine

#### Continental Primary Energy Consumption
______

In [13]:
df = pd.read_excel('../../Greenhouse/data/flask/continental_primary_energy_consumption.xlsx',sheet_name='Sheet1')

df.head(5)

,Year,Africa,Asia_Oceania,Central_South_America,Eurasia,Europe,Middle_East,North_America,World
0,1980,6.817428,51.490156,11.107592,51.679526,75.060179,5.862700,91.421257,293.438838
1,1981,7.018484,52.198798,11.069586,52.055516,72.817698,6.169371,89.855369,291.184821
2,1982,7.620669,53.050275,11.233601,54.180889,72.440712,6.398765,86.707933,291.632844
3,1983,8.011749,54.787733,11.141228,55.226312,72.722676,7.201808,86.277598,295.369104
4,1984,8.423170,58.557924,11.823249,58.214456,73.831992,7.809684,90.469655,309.130130

In [14]:
df.columns = map(str.lower, df.columns)

In [15]:
disk_engine = create_engine('sqlite:///../../dashboard/api/datasets/energy.db')
df.to_sql(name='continental_primary_energy_consumption', con=disk_engine, if_exists='replace', index=False)

#### Continental Primary Energy Production
______

In [16]:
df = pd.read_excel('../../Greenhouse/data/flask/continental_primary_energy_production.xlsx',sheet_name='Sheet1')

df.head(5)

,Year,Africa,Asia_Oceania,Central_South_America,Eurasia,Europe,Middle_East,North_America,World
0,1980,17.390004,36.956865,12.132110,61.601755,41.548277,42.264371,83.039701,294.933082
1,1981,15.136668,38.018861,12.334656,61.847971,42.502839,36.485103,83.655152,289.981249
2,1982,15.577230,39.186695,12.214396,63.821935,43.899989,29.694700,84.320265,288.715210
3,1983,16.259108,42.151480,12.491370,65.259866,45.965981,27.563930,81.984396,291.676131
4,1984,17.715109,46.098539,13.523924,68.348303,46.636354,27.676021,87.879676,307.877927

In [17]:
df.columns = map(str.lower, df.columns)

In [18]:
disk_engine = create_engine('sqlite:///../../dashboard/api/datasets/energy.db')
df.to_sql(name='continental_primary_energy_production', con=disk_engine, if_exists='replace', index=False)

##### Test Model
____

In [3]:
import pickle

model = pickle.load(open('../../dashboard/api/ml/continental_primary_energy_consumption/Africa_model.pkl', 'rb'))

print(model.predict(n_periods=5))

[20.32898722 20.82338404 21.3244694  21.83224328 22.34670571]